@font-face {
  font-family: "Maven";
  src: local("Font Name"), url("/fonts/mavenproregular.woff2") format("woff2");
}
$yellow: #ffe598;
$green: #d6fc51;
* {
  margin: 0;
  padding: 0;
  font-family: "Maven";
}
.container {
  max-width: 1320px;
  margin: auto;
  padding: 0 10px;
}
.text_yellow {
  color: $yellow;
}
.text_green {
  color: $green;
}
.section-block {
  background: #11151e;
  padding-top: 120px;
}
@media (max-width: 1000px) {
  .section-block {
    padding-top: 60px;
  }
}
